<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">
<!-- 
    ===============================
    [ 메인 페이지 템플릿 ]
    ===============================
    - layouts/layout.html 파일을 레이아웃으로 사용
    - layout:fragment="content" 부분이 레이아웃의 확장 포인트에 삽입됨
-->

<th:block layout:fragment="content">
    <!-- ===============================
         [ 메인 컨텐츠 영역 ]
         =============================== -->
    <div class="row">
        <!-- 필요에 따라 메인 페이지의 그리드/컨텐츠 추가 -->
    </div>

    <h3>메인 페이지</h3>
</th:block>
</html>
